.add {
    background: url(../img/Rectangle.png) center center no-repeat;
    background-size: cover;
}

.add_content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add__icon-pic {
    width: rem(100px);
    height: rem(100px);
}