.best {
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  background-position: center center;
}

.best__container {
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-flow: wrap;
}

.best__content {
  text-align: left;
}

.section-title_position_center {
  padding-top: 20%;
  width: 100%;
}

.best__list {
  display: flex;
 
  @include phones {
    flex-direction: column;
  }
}

.best__item {
  margin-bottom: rem(50px);
  padding: 0 rem(15px);
  display: flex;
  flex-direction: column;

  @include phones {
    flex-direction: row;
  }

  .best__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
  }
  
  .best__title {
    margin-bottom: rem(80px);
    margin-top: rem(30px);
    text-align: center;
    font-family: Lifehack-Medium;
    font-size: rem(24px);

    color: $black;
    margin-bottom: rem(20px);
  }

  .best__text {
    text-align: center;
    font-size: rem(14px);
    color: #2f3234;
    line-height: rem(25px);
    margin-top: rem(25px);
  }
}

