.best {
  background: url(../img/bg.png) center center no-repeat;
  background-size: cover;
}

.best__container {
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-flow: wrap;
}

.section-title_position_center {
  padding-top: 20%;
  width: 100%;
}

.best__list {
  display: flex;
  margin-bottom: 30%;
}

.best__item {
  width: 30%;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  .best__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
  }
  
  .best__title {
    margin-top: rem(30px);
    text-align: center;
    font-family: Lifehack-Medium;
    font-size: rem(24px);
  }

  .best__text {
    text-align: center;
    font-size: rem(14px);
    color: #2f3234;
    line-height: rem(25px);
    margin-top: rem(25px);
  }
}

