.team {
    background: url(../img/bg-team.png) center center no-repeat;
    background-size: cover;
    position: relative;

    .container {
    position: absolute;
	  right: 0;
  	top: 0;
    bottom: 0;
    width: 50%;
	  background: rgba(#2f3234, .93);
    padding: 5% 2% 0 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include tablets {
    width: 100%;
    padding: 0;
    }
    }
  }
  
  .team__content {
    text-align: center;
  }
  
  .section-title {
    margin-bottom: 12%;
    color: $orange;

  }
  .team-acco__trigger {
    font-family: 'Gagalin-Regular';
    font-size: rem(14px);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-flex;
    align-items: center;
    margin-bottom: rem(20px);
  
    &:before {
      content: "";
      height: 0;
      width: 0;
      border: 9px solid transparent;
      border-top-color: $orange;
      border-bottom-width: 0px;
  
    }
  }
  
  .team-acco__container {
    display: flex;
    align-items: center;

   .team-acco__pic {
       overflow: hidden;
       width: rem(100px);
       height: rem(100px);
       border-radius: 50%;
       margin: rem(20px);
   }
  }
  
  .team-acco__text {
    color: #fff;
    .team-acco__text-title {
        font-weight: bold;
        margin-bottom: rem(20px);
    }
  }
  
  .team-acco__content {
    display: none;
  }
  
  .team-acco__item_active {
    .team-acco__trigger {
      color: $orange;
  
      &:before {
        transform: rotate(-180deg);
      }
    }
  
    .team-acco__content {
      display: block;
    }
  }