.video {
    background: url(../../img/bg-video.png) center center no-repeat;
    background-size: cover;
}

.section-title_color_black {
    color: black;
}

.video__pic {
    max-width: rem(660px);
    max-height: rem(400px);
}